
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar but still allow scrolling */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }


  .card-container {
    box-shadow: 0px 8px 15px 0px #1414141F, 0px 0px 4px 0px #1414141A;
    transition: transform 0.3s ease;
  }